
// Loader fade in
.loader {
  opacity: 0;
  animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Small Link buttons after large buttons
.btn-lg + br + .btn-sm {
  margin-top: 0.5em;
}

// Map popup
.map-popup {
  text-align: center;
  p {
    margin: 3px 0!important;
    font-size: 14px;
  }
}

// CARDS-ROOMS

// Cards (adjustments)
.card {
  .card-img-overlay {pointer-events: none}
  ul li::first-letter {text-transform: uppercase;}
}

.full-room {
  margin-bottom: 30px!important;

  @media all and (max-width: 578px) {
    margin-bottom: 80px!important;
    &:last-child {margin-bottom: 30px!important; }
  }

  .btn.disabled {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .full-room__message {
    position: absolute;
    margin-top: 35px;
  }
}

// MODALS
#modalConfirm {
  .form-check-input {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
}

